@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-base-100: #6c443f;
  --primary-font-color: #ffe8da;
  --secondary-color: #f3cfd5;
  --color-base-200: #422724;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-poppins);
  color: var(--primary-font-color);
  user-select: none;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

input:focus {
  outline: none;
}
.goButton {
  transition: all 0.4s;
  transform: translateX(0);
}

.goButton:hover {
  cursor: pointer;
  transform: translateX(5px);
}
@media (prefers-color-scheme: dark) {
}
